<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <i class="fa-solid fa-map-pin fa-bounce" href="/" style="color: #c81414;"></i>
    <a class="navbar-brand" href="/">Wiki-Map</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/profile">My Profile</a>
        <a class="nav-item nav-link" href="/map/new">Create New Map</a>
      </div>
    </div>
    <div class="col-md-2 text-end">
      <button type="button" class="btn btn-light text-dark me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </nav>
</header>
