body, html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.img-container {
  width: 100%;
  height: auto;
}

.sample_maps {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
}

.each_map {
  flex: 0 0 auto;
  margin-right: 20px; 
}

.each_map img.sample_maps_pics {
  width: 100%;
  height: auto; 
}

header {
  background-color: rgb(71, 165, 71);
  color: white;
  padding: 10px;
  text-align: center;
}
