.profile-list {
  background-color: #9EDDFF;
}

.map-coverURL {
  width: 150px;
  height: 150px;
  padding: 2px;
  border: 2px solid #A6F6FF;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.map-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #A6F6FF;
  background-color: #6499E9;
}

.map-list img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 24px;
  font-style: italic;
  font-family: 'Cinzel', serif;
  margin-bottom: 10px;
}

.map-description {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  margin-bottom: 10px;
}

.user-map-actions {
  display: flex;
  flex-direction: row-reverse;
}

button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;

  :hover,
  :active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }

  :active {
    opacity: .5;
  }
}

@media (min-width: 425px) {
  .map-list {
    width: 50%;
    margin: 10px auto;
  }
}